.services-page {
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);

  h1 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
  }

  .category-section {
    margin-bottom: 3rem;
    max-width: 1000px;  // Set the max width of the category section to 1000px
    margin: 0 auto;  // Center the category section
    padding: 0 1rem;  // Add some padding to avoid touching the edges

    .category-title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: var(--text-color);
      text-align: left;  // Title stays aligned to the left
    }

    .services-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;  // Cards are centered within the category
      gap: 1rem;  // Space between the cards
    }

    .service-card {
      background: var(--card-bg, #f9f9f9);
      padding: 1rem;
      border-radius: 4px;
      height: auto;
      max-width: 300px;  // Set max-width for each card
      width: 100%;
      margin: 1rem 0;  // Add margin around the cards
       transition: transform 0.3s ease-in-out;
       
    

 &:hover {
    transform: scale(1.02);  // Slightly increases size
  }

      img {
        width: 100%;  // Make the image take the full width of the card
        height: auto;
        border-radius: 4px;
        object-fit: cover;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
        color: var(--text-color);
        text-align: center;  // Center the title inside the card
      }

      p {
        margin: 0.5rem 0;
        font-weight: 300;
        color: var(--text-color);
        text-align: center;  // Center the text inside the card
      }

      .provider-info {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .provider-text {
          p {
            margin: 0;
            font-weight: 300;
            color: var(--text-color);
          }
        }
      }
    }
  }
}





  


.leaf {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


