/* ===============================
   PAGE BACKGROUND STYLES
=============================== */
.login-page,
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  background: var(--card-bg);
  background-size: cover;
  background-position: center;
  color: var(--text-color);
}


/* ===============================
   CONTAINER CARD
=============================== */
.login-container,
.register-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  border-radius: 8px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 60px;
  width: 520px;
  max-width: 90%;
  transform: translateY(40px);
  animation: fade_slide 0.6s ease-out 0.2s forwards;
  transition: all 0.3s ease-in-out;
}


/* ===============================
   INPUT FIELD STYLES
=============================== */
.login-container input,
.register-container input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.092);
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  margin-bottom: 16px;
  outline: none;




  &::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }

  &:focus {
    border-color: var(--primary-accent);
    background: rgba(255, 255, 255, 0.3);
  }
}


/* ===============================
   TRANSITION / ANIMATION
=============================== */
@keyframes fade_slide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===============================
   TEXT + MISC
=============================== */
.login-instr {
  padding-bottom: 12px;
  padding-top: 14px;
  
}

.login-instr h4 {
  font-weight: 400;

}

.inner-content h2 {
  font-weight: 400;
  
}

.sign-up-link h4 {
  color: var(--text-color);
  font-weight: 300;
  padding-top: 4px;
  transition: color 0.3s ease;

  &hover {
    text-decoration: underline;
  }
}

.sign-up-link h4 {
  color: var(--text-color);
  font-weight: 300;
  padding-top: 4px;
  transition: text-decoration 0.2s ease;
}

.sign-up-link h4:hover {
  text-decoration: underline;
  color: var(--primary-accent)
}
