.provider-detail-page {
  background-color: var(--bg-color);
  color: black;
  min-height: 100vh;
  padding: 8rem 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;

  .provider-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 2rem;
  }

  .provider-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 0.25rem;

    .provider-title {
      font-size: 2rem;
      font-weight: 500;
      color: var(--primary-accent);
    }

    .provider-specialty {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--text-color-light);
    }
  }

  .provider-description {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--primary-accent);
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.7;
      color: var(--text-color);
    }
  }

  .provider-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-accent);
  }


  
  .error-message {
    color: red;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .provider-header {
      flex-direction: column;
      gap: 1rem;
    
    }
  }
}
