
.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.1s ease;
  margin-left: 15px;
  align-items: center;
  align-content: center;
}


.user-cell:hover .tooltip,
.provider-cell:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


.user-cell,
.provider-cell {
  position: relative;
}


.user-cell.active .tooltip,
.provider-cell.active .tooltip {
  visibility: visible;
  opacity: 1;
}


.user-cell,
.provider-cell {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

select {
  background-color: white; 
  color: black; 
  padding: 8px 12px; 
  border-radius: 4px;

  font-size: 14px; 
  width: 100%; 
  z-index: 1; 
}
